{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

{% include 'base/head.html' %}

<body class="fix-header fix-sidebar card-no-border">

<style type="text/css">
    .grande{
        height: 100px;
        font-size: 20px;
        width: 250px;
        color:  white;
    }
</style>

  <div id="main-wrapper">
    {% include 'base/header.html' %}     
    {% include 'base/aside.html' %}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- SubMenu -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Comanda</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% static 'javascript:void(0)' %}">Home</a></li>
                    <li class="breadcrumb-item active">Comanda</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
                
    <div class="row">
        <!-- Card Comanda -->
        <div class="col-lg-3 col-md-12">
           <button type="button" class="btn btn-lg  grande" style= "background-image:url({% static '/assets/images/background/fumaca.gif' %});" data-toggle="modal" data-target="#add-contact" >Comanda</button>
        </div>
        <!-- ============================================================== -->

        <!-- Card Vender -->
        <div class="col-lg-3 col-md-12">
           <button type="button" class="btn btn-lg  grande" style= "background-image:url({% static '/assets/images/background/fumaca.gif' %});" data-toggle="modal" data-target="#add-contact" >Venda</button>
        </div>
        <!-- ============================================================== -->

        <!-- Card Receber -->
        <div class="col-lg-3 col-md-12">
           <button type="button" class="btn btn-lg  grande" style= "background-image:url({% static '/assets/images/background/fumaca.gif' %});" data-toggle="modal" data-target="#add-contact" >Receber</button>
        </div>
        <!-- ============================================================== -->

        <!-- abrindo nova comanda -->
        {%include 'base/nova_comanda.html'%}
        <!-- =============================== -->
        </div>

<div class="row">
 <div class="col-md-6 col-lg-6 col-xlg-4">
  <div class="card card-body">
   <div class="row">
    <div class="col-md-4 col-lg-3 text-center">
     <a href="#"><img src="{% static '/assets/images/products/zomo.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
           
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Rosh</h3> <small>Zomo</small> <small> Cod:0001</small>
        <address>Qualquer linha zomo<br>R$ 10,00</address>
    </div>

       </div>
   </div>
</div>
 
<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/adalya.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Rosh</h3> <small>Adalya</small>
        <address>Qualquer linha Adalya<br>R$ 15,00</address>
    </div>
   
   </div>
 </div>
</div>

<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/ziggy.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Rosh</h3> <small>Ziggy</small>
        <address>Qualquer linha Ziggy<br>R$ 10,00</address>
    </div>
   
   </div>
 </div>
</div>

<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/nay.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Rosh</h3> <small>Nay</small>
        <address>Qualquer linha Nay<br>R$ 15,00</address>
    </div>
   
   </div>
 </div>
</div>

<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/smyrna.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Rosh</h3> <small>Smyrna</small>
        <address>Qualquer linha Smyrna<br>R$ 10,00</address>
    </div>
   
   </div>
 </div>
</div>
 
 <div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/fumari.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Rosh</h3> <small>Fumari</small>
        <address>Qualquer linha Fumari<br>R$ 25,00</address>
    </div>
   
   </div>
 </div>
</div>
 
<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/tangiers.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Rosh</h3> <small>Tangiers</small>
        <address>Qualquer linha Tangiers<br>R$ 45,00</address>
    </div>
   
   </div>
 </div>
</div>

<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/startnow.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Rosh</h3> <small>StartNow</small>
        <address>Qualquer linha StartNow<br>R$ 15,00</address>
    </div>
   
   </div>
 </div>
</div>

<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/BlueHorse.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Rosh</h3> <small>BlueHorse</small>
        <address>Qualquer linha BlueHorse<br>R$ 15,00</address>
    </div>
   
   </div>
 </div>
</div>

<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/paspport.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Combo</h3> <small>Passport</small>
        <address>Dose com energético e gele de coco<br>R$ 20,00</address>
    </div>
   
   </div>
 </div>
</div>

<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/jack.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Combo</h3> <small>Jack Daniel's</small>
        <address>Dose com energético e gele de coco<br>R$ 35,00</address>
    </div>
   
   </div>
 </div>
</div>

<div class="col-md-6 col-lg-6 col-xlg-4">
 <div class="card card-body">
  <div class="row">
    
    <div class="col-md-4 col-lg-3 text-center">
        <a href="app-contact-detail.html"><img src="{% static '/assets/images/products/balde.jpg' %}" alt="user" class="img-circle img-responsive"></a>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3 class="box-title m-b-0">Balde</h3> <small>Skol</small>
        <address>Balde com 8 latas<br>R$ 45,00</address>
    </div>
   
   </div>
 </div>
</div>

                </div>
        {% include 'base/footer.html' %}

<script src="{% static '/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
<script src="{% static '/assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static '/assets/plugins/jqueryui/jquery-ui.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="{% static '/assets/plugins/gridstack/lodash.js' %}"></script>
<script src="{% static '/assets/plugins/gridstack/gridstack.js' %}"></script>
<script src="{% static '/assets/plugins/gridstack/gridstack.jQueryUI.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('.grid-stack').gridstack({
            width: 12,
            alwaysShowResizeHandle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
            resizable: {
                handles: 'e, se, s, sw, w'
            }
        });
    });
</script>
<script src="{% static '/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
<script src="{% static '/assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static '/assets/plugins/popper/popper.min.js' %}"></script>
<script src="{% static '/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/sidebarmenu.js' %}"></script>

<script src="{% static '/assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static '/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static '/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup-init.js' %}"></script>
<script src="{% static '/assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
</body>
</html>
