{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
{% include 'base/head.html' %}

<body class="fix-header fix-sidebar card-no-border">

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    
    <div id="main-wrapper">
{% include 'base/header.html' %}
{% include 'base/aside.html' %}
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Produtos</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Produtos</li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12"> 
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Produtos</h4>
                                <h6 class="card-subtitle">Aqui você pode adicionar e editar produtos!</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Marca</th>
                                                <th>Nome</th>
                                                <th>Sabor</th>
                                                <th>Categoria</th>
                                                <th>Preço</th>
                                                <th>Quantidade</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                            {% for capt in capture %}
                                <tr>
                                    <td>{{capt.marca}}</td>
                                    <td>{{capt.nome}}</td>
                                    <td>{{capt.sabor}}</td>
                                    <td>{{capt.categoria}}</td>
                                    <td>{{capt.preco}}</td>
                                    <td>{{capt.quantidade}}</td>
                                </tr>
                                {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            <button type="button" class="btn waves-effect waves-light btn-secondary"" data-toggle="modal" data-target="#add-contact">Adicionar</button>
                            <button type="button" class="btn waves-effect waves-light btn-warning">Editar</button>
                            

    <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Adiciona novo produto</h4> </div>
        <div class="modal-body">    
    <form class="form-horizontal form-material" method= "post" action= "{% url 'home:produtos' %}">
            {% csrf_token %}
    <div class="form-group">
    
    <div class="col-md-12 m-b-20">
    {{form.marca}}
    </div>         
    
    <div class="col-md-12 m-b-20">
    {{form.nome}}
    </div>                                              
    
    <div class="col-md-12 m-b-20">
    {{form.sabor}}
    </div>
                                                  
    <div class="col-md-12 m-b-20">
    {{form.categoria}}
    </div>
                                                  
    <div class="col-md-12 m-b-20">
    {{form.preco}}
    </div>
                                                        
    <div class="col-md-12 m-b-20">
    {{form.quantidade}}
    </div>                                                       
    <button type="submit" class="btn btn-info waves-effect">Salvar</button>
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>    
    </div>
    </form>
    </div>
        </div>
            </div>
              </div>
                </div>
             </div>
            </div>
                </div>


            <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel
                            <span>
                                <i class="ti-close right-side-toggle"></i>
                            </span>
                        </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li>
                                    <b>With Light sidebar</b>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-theme="default" class="default-theme">1</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-theme="green" class="green-theme">2</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-theme="red" class="red-theme">3</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a>
                                </li>                
                            </ul>
                        </div>
                    </div>
            </div>

            </div>
{% include 'base/footer.html'%}
        </div>
    </div>
    <script src="{% static '/assets/plugins/jquery/jquery.min.js' %}"></script>

    <script src="{% static '/assets/plugins/popper/popper.min.js' %}"></script>
    <script src="{% static '/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>

    <script src="{% static 'js/waves.js' %}"></script>

    <script src="{% static 'js/sidebarmenu.js' %}"></script>

    <script src="{% static '/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static '/assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>

    <script src="{% static 'js/custom.min.js' %}"></script>

    <script src="{% static '/assets/plugins/datatables/datatables.min.js' %}"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script>
        $(function () {
            $('#myTable').DataTable();
            $(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
    <script src="{% static '/assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
</body>


<!-- Mirrored from wrappixel.com/demos/admin-templates/material-pro/material/table-data-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Feb 2019 11:38:37 GMT -->
</html>
