{%load static%}
<aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile" style="background: url({% static '/assets/images/background/user-info.jpg' %}) no-repeat;">
                    <!-- User profile image -->
                    <div class="profile-img"> <img src="{% static '/assets/images/users/profile.png' %}" alt="user" /> </div>
                    <!-- User profile text-->
                    <div class="profile-text"> <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown"
                            role="button" aria-haspopup="true" aria-expanded="true">Administrador</a>
                        <div class="dropdown-menu animated flipInY"> <a href="#" class="dropdown-item"><i class="ti-user"></i>
                                Meus Relatórios</a> <a href="#" class="dropdown-item"><i class="ti-wallet"></i> Meu Perfil</a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i>
                                Configurações</a>
                            <div class="dropdown-divider"></div> <a href="{% url 'home:do_logout'%}" class="dropdown-item"><i class="fa fa-power-off"></i>
                                Logout</a>
                        </div>
                    </div>
                </div>
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">Menu</li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class=" icon-basket-loaded"></i><span
                                    class="hide-menu">Caixa</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'home:comandas' %}">Comanda</a></li>
                                <li><a href="#">Histórico</a></li>
                                <li><a href="#">Pedidos</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-laptop-windows"></i><span
                                    class="hide-menu">Relatórios</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Vendas</a></li>
                                <li><a href="#">Clientes</a></li>
                                <li><a href="#">Produtos</a></li>
                                <li><a href="#">Gastos</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span
                                    class="hide-menu">Estoque</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'home:produtos' %}">Produtos</a></li>
                                <li><a href="#">Saída</a></li>
                                <li><a href="#">Produção</a></li>
                            </ul>
                        </li>
                        <li class="nav-devider"></li>
               </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <!-- item--><a href="#" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                <!-- item--><a href="#" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <!-- item--><a href="{% url 'home:do_logout'%}" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
            </div>
            <!-- End Bottom points-->
        </aside>


